body {
    text-align: center;
    padding: 40px 0;
    background: #e8eaec;
}

h1 {
    color: #87379b;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}

p {
    color: #87379b;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 0;
}

i {
    font-size: 100px;
    line-height: 200px;
    margin-left: -15px;
}

.card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 0 auto;
}

button {
    margin-top: 10%;
    width: 50%;
    height: 40px;
    background-color: #ff1bff;
    border: none;
    border-radius: 20px;
}

.b {
    color: black;
    font-size: 20px;
}

.checkmark {
    color: rgb(241, 46, 144);
}



#main {
    text-align: center;
    color: green;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: rgb(231, 71, 97);
}