#method {
    height: 20rem;
    width: 16rem;
}

#method>h6 {
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem;
}

#method>div {
    width: 100%;
    height: 20%;
    padding: 1.2rem 0.7rem;
    vertical-align: middle;
    font-size: 0.9rem;
    border: 1px solid white;
}

#method>div:hover {
    background-color: #fcf8ed;
    border: 1px solid black;
    cursor: pointer;
}

#method p {
    font-size: 1rem;
    font-weight: bold;


}

h5 {
    margin-bottom: 2rem;
}

#details {
    width: 52.5rem;
    height: 27rem;
    margin-left: 3rem;
}

#details>div:nth-child(1) {
    width: 100%;
    height: 4.1rem;
    background-color: #fcf8ed;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
}

#details h3 {
    display: inline;
    font-size: 1.1rem;
}

#total {
    margin-left: 58%;
}

#details label {
    font-family: 'Lucida Sans Unicode', Verdana, sans-serif;
}

form {
    position: relative;
}

#form div {
    position: relative;
    height: 5rem;
    font-weight: bold;

}

input {
    margin-top: 1.2rem;
    height: 3.8rem;
    width: 74%;
    background-color: rgb(243, 243, 243);
    border: none;
    position: absolute;
    right: 0px;
    margin-top: -1rem;
    font-size: 1.1rem;
    padding: 1rem;
    font-weight: bold;
}

#pay {
    width: 14rem;
    height: 3.5rem;
    background-color: rgb(209, 209, 209);
    padding: 1.2rem 2.5rem;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans Unicode', Verdana, sans-serif;
}

.header {
    width: 100vw;
    padding: 0.4rem 14.5rem;
    height: 4.8rem;
    box-shadow: 1px -4px 12px 1px gray;
}

.header img {
    max-height: 100%;
}

.header+p {
    font-size: 2.3rem;
    text-align: center;
    margin-top: 3.8rem;
}

.body {
    padding: 1.5rem 12rem;
    display: flex;
}

.body>div {
    display: flex;
    flex-direction: column;
}

#bottom {
    text-align: center;
}

#bottom img {
    width: 8rem;
    margin-top: 2rem;
}

#pay:hover {
    cursor: pointer;
}

i {
    margin-right: 1rem;
}